- title @post.user.email + " | " + @post.subject
.post_header
  .avatar
    - unless @post.user.avatar.blank?
      = image_tag @post.user.avatar
    - else
      =image_tag "noavatar.png"
  .params
    Пишет:
    - if @post.user.blank? 
      "Неизвестен"
    - else
      = link_to @post.user.email, blogs_url(@post.user)
    %br/
    Дата: #{@post.updated_at.strftime("%d.%m.%Y %H:%M:%S")}
%h1= @post.subject
%p
  = @post.content
%p
  - if (current_user == @post.user)
    = link_to "Редактировать", edit_post_path(@post)
    |
    = link_to "Удалить", @post, :confirm => 'Вы уверены?', :method => :delete

- unless @post.comments.blank?
  = render @post.comments
  
%a{:name => "add_comment"}
- if signed_in?
  = render "comments/form"
- else
  Только зарегистрированные пользователи могут оставлять комментарии
  %br/
  = link_to "Войти", new_user_session_path
  или
  = link_to "Зарегистрироваться", new_user_registration_path    
